

.tit {
    width: 40%;
    height: 90%;
    color: rgb(0, 0, 0);
    font-size: 22px;
    margin-top: 300px;
    margin-left: 10%;
    margin-right: 0px;
    text-align: center;
    
}

.titT {
    width: 400px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 20px;
    padding-top: 15px;
    border-radius: 5%;
}

.container-trad {
    margin-top: 90px;
    height: 700px;
    margin-left: 20PX;
}